body{ /* Установка основного и запасных шрифтов*/
    font-weight: normal;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 1920px;
    min-width: 1600px;
    background-color: #FFF;
}

main{
    min-width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;

    position: relative;
}

h1{
    font-weight: normal;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 36px;  
    font-weight: 700;
    color: #130130;
}

.title-h1{
    font-weight: normal;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 64px;  
    font-weight: 700;
    color: #562EE5; 
}

h2{
    font-weight: normal;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 24px;  
    font-weight: 700;
    color: #130130;
}

h3{
    font-weight: normal;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 18px;  
    font-weight: 500;
    color: #C0C0C9;;  
}

p{

    font-weight: normal;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 18px;  
    font-weight: 400;
    line-height: 150%;
    color: #4C4C4C;;
}

header{
    background-color: #fff;
    height: 76px;
    width: 100%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: relative;
    z-index: 10000;
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
  }

.wrapper{
    max-width: 1220px;
    padding-left: 430px;
    padding-right: 270px;
}

.head-nav{
    display: flex;
    justify-content:center;
}

.logo{
    width:100px;
    height:40px;
    display: inline-flex;
    margin-top: 22px;
    margin-right: 120px;
}

.nav{
    align-items: center;
    list-style: none;
    display:inline-flex;
    

}

.nav li > a{   
    color: #C0C0C9;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding-inline: 50px;
    transition: color 100ms linear; /*анимация*/
}

.nav li > a:hover, #accent{
    color: #562EE5;
    
}

input[type="field"]{
    width: 420px;
    height: 58px;
    display: inline-flex;
    margin-left:45px;
    margin: 9px;

    background: #F1F1FB;
    border-radius: 15px;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 58px 10px 28px;
    font-weight: 500;
    font-size: 18px;
    color: #4C4C4C;
    color: #130130;
}

.block-type0{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: auto;

    position: relative;
}


.block-type1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: auto;
    margin-top: 40px;

    position: relative;
}

.block-type2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: auto;
    margin-top: 40px;

    position: relative;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: none;
    margin-top: 96px;

    position: relative;
}

.daily-selections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: relative;

    /* position: static; */
    margin: 12px;
}

.daily-selections > span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: static;
}

.daily-selections > span > h1{
    margin: 0px 12px;
}

.books-selections{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    margin-top: 22px;
}

.book-card{
    width: 216px;
    height: 478px;
    background: #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: none;

    display: flex;
    align-items: flex-start;
    margin: 12px;
    margin-top: 0px;
}

.book-card > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 16px auto;
    top: 16px;
}

.book-card > div > div{
    /* margin: 16px auto;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    padding: 0px;
    left: 0px;
    top: 0px;
}

.book-card > div > div > img{
    width: 200px;
    height: 322px;
    border-radius: 25px;
    border: none;
    margin-bottom: 13px;
}

.book-rait{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 157px;
    padding: 0px;
    position: static;
    margin: 17px auto;
    padding-left: 10px;

}

.article-selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 456px;
    height: 546px;
    margin: 12px;
    top: 40px;

    position: relative;
}

.article-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 456px;
    height: 261px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: none;
    margin: 12px;
    
    position: relative;
}

.name-and-text{
    width: 406px;
    height: 97px;
    margin: 25px 34px;
}

.button-and-rait{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 401px;
    height: 58px;
    margin: auto 24px;

    position: static;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 20px;
    position: static;
}

.icon-text p{
    margin: 5px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 18px;  
    font-weight: 500;
    color: #DA5DBF;
}

.titls{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 0px
}

.title-card{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 0px;

    
    width: 456px;
    height: 213px;
    background: #FFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: auto 12px;

    
    position: relative;
}

.title-card > h1, .title-card > img{
    margin-left: 39px;
}

.title-card > h2{
    margin-left: 24px;
}

.title-card > div{
    margin-left: 78px;
}

.title-card > a{
    margin-top: 17px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 252px;
    background: #F1F1FB;
    margin-top: 96px;

    position: absolute;
}

footer > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 1408px;

    position: static;
}

footer > div > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-right: 116px;
    padding-bottom: 76px;

    position: static;

}

footer > div > div >ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
}

footer > div > div > ul > li{
    text-decoration: none;
    list-style: none;
}

footer > div > div > ul > li >p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    color: #562EE5;
    margin: 10px 0px;

    position: static;
}

footer > p{
    margin-bottom: 84px;
    padding: 0px;
}

footer > p{
    color: #C0C0C9;
    position: static;
}
.bt-secondary{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 18px;  
    font-weight: 500;
    color: #562EE5;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 58px;
    width: 84px;
    background: #E6E0FB;
    border-radius: 15px;
    border: none;
    transition: background-color 300ms linear;
}

.bt-secondary-stroke{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 18px;  
    font-weight: 500;
    color: #562EE5;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 58px;
    width: 84px;

    border-radius: 15px;
    border-width: 2px;
    border-style:solid;
    border-color:#562EE5;
    transition: background-color 300ms linear;
}

.bt-secondary:hover, .bt-secondary-stroke:hover{
    color: #fff;
    background: #562EE5;
}

.tablinks{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-size: 18px;  
    font-weight: 500;
    color: #562EE5;
    text-decoration: none;
    margin: 24px;
    margin-top: 12px;
    margin-bottom: 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 58px;
    width: 188px;
    background: #E6E0FB;
    border-radius: 15px;
    border: none;
    transition: background-color 300ms linear;
}


/*.book-icons-star{
    width: 25px;
    height: 17px;
    margin-top:16px;
    top:18px;
    margin: 10px;
    right:29px;
    position: absolute;
}*/

